# Python / backend
backend/.venv/
__pycache__/
*.pyc
backend/.env
backend/*.db

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Ficheiros do sistema
.DS_Store
*.log

# Zone.Identifier (Windows/WSL)
*Zone.Identifier
